/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset */
/* Start Header */

.header {
    z-index: 2;
    position: fixed;
    top: 0;
	width: 100vw;
	background-color: rgb(0,0,0,.5);
	background: linear-gradient(to bottom, rgb(0,0,0,1) 0%, rgb(0,0,0,.5) 70%, rgb(0,0,0,.1) 100%);
	backdrop-filter: blur(6px);
    font-size: 18px;
	padding-bottom: 10px;
}

.title {
	width: 215px;
    padding: 10px 0 0 10px;
	font-size: 28px;
	font-weight: 400;
}

#subtitle {
    padding: 2px 0 0 10px;
	font-size: 20px;
	font-weight: 500;
	color: rgb(140,167,185);
	color: rgb(155,155,170);
}

.title-menu-group {
	position: absolute;
    top: 22px;
    right: 0;
	width: calc(40% + 200px);
}

.title-menu {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.menu-item {
	flex: 1;
	max-width: 80px;
    height: 25px;
	padding-top: 20px;
	color: rgb(230,230,230);
	font-weight: 500;
    user-select: none;
}

@keyframes menu-item-animated {
	from {opacity: 0;}
	to {opacity: 1;}
}

.menu-item-animated {
	animation-name: menu-item-animated;
	animation-duration: 4s;
	animation-delay: 4.2s;
	animation-fill-mode: backwards;
}

#portfolio{
	color: rgb(140,185,185);
}

#about{
	color: rgb(140,140,185);
}

#contact{
	color: rgb(185,140,140);
}

.menu-item:hover {
	padding-top: 19px;
	font-size: 19px;
	font-weight: 500;
}

.transparent-link {
	position: absolute;
	opacity: 0%;
}

/* End Header */
/* Start Body */

#body {
 background-color: black;
 font-family: 'Montserrat', sans-serif;
 color: white;
}

a:link {
    color: rgb(140,185,185);
    
}

a:visited {
    color: rgb(140,140,185);
}

a:hover {
    color: rgb(185,140,140);
}

a:focus {
    color: rgb(185,140,140);
}

a:active {
    color: rgb(185,140,140);
}

/* Start Intro */
#intro-section {
	height: 100vh;
}

#intro-div {
	float: left;
	padding: 36vh 0 0 calc(40vw - 300px);
}

#intro-header {
	font-size: 30px;
	padding-bottom: 10px;

}

@keyframes intro-1st {
	from {
		opacity: 0;
		color: rgb(202, 62, 62);
	}
	to {
		opacity: 1;
	}
}

#intro-1st {
	display: inline;
	animation-name: intro-1st;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-fill-mode: backwards;
}

@keyframes intro-2nd {
	from {
		opacity: 0;
		color: rgb(56, 147, 189);
	}
	to {
		opacity: 1;
	}
}

#intro-2nd {
	display: inline;
	animation-name: intro-2nd;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-fill-mode: backwards;
}

@keyframes intro-content {
	from {
		opacity: 0;
		color: rgb(111, 90, 201)
	}
	to {opacity: 1;}
}

#intro-content {
	font-size: 20px;
	animation-name: intro-content;
	animation-duration: 3s;
	animation-delay: 3250ms;
	animation-fill-mode: backwards;
}

@keyframes portrait {
	from {opacity: 0;}
	to {opacity: 1;}
}

#portrait {
	position: absolute;
	z-index: -1;
	bottom: 0;
	right: 70px;
	height: calc(100vh - 130px);
	animation-name: portrait;
	animation-duration: 8s;
	background-color: rgb(240,240,240);
	background: linear-gradient(to bottom, rgb(200,255,255) 0%, rgb(200,200,255) 30%, rgb(200,200,255) 40%, rgb(255,210,200) 88%, rgb(200,200,255) 95%, rgb(200,255,255) 100%);
}

/* Start Portfolio */
#portfolio-section {
	position: relative;
	height: 100vh;
	background-color: rgb(30,30,30);
	background: linear-gradient(to bottom, rgb(0,0,0) 0%, rgb(10,10,10) 12%);

}

.side-title {
	position: relative;
	top: 15%;
	left: 10px;
	writing-mode: vertical-rl;
	font-size: 56px;
}

#portfolio-pic-container {
	text-align: center;
	position: relative;
	top: 0;
	left: 50%;
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}

.portfolio-subheader {
	font-size: 22px;
	font-weight: 500;
	padding: 35px 0 8px 0;
}

.img-link {
	filter: brightness(90%);
	max-height: 200px;
	border: 2px solid rgb(140,185,185,0%);
	border-radius: 8px;
}

.img-link:hover {
	filter: brightness(100%);
	border: 2px solid rgb(140,185,185);
	
}

/* Start About */
#about-section {
	position: relative;
	height: 100vh;
	background-color: rgb(15,15,15);
	background: linear-gradient(to bottom, rgb(10,10,10) 0%, rgb(15,15,15) 8%);

}

#about-content-container {
	position: relative;
	max-width: 580px;
	top: 0;
	left: 50%;
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);

}

#about-content {
    font-size: 16px;
	line-height: 24px;
}

#about-list-container {
	margin: auto;
	width: 90%;
}

.about-list {
	display: inline-block;
    font-size: 18px;
	line-height: 24px;
	width: 50%;
}

#about-list-right {
	float: right;
}

.about-list-item {
	font-size: 16px;
}

/* Start Contact */
#contact-section {
	position: relative;
	height: 100vh;
	background-color: rgb(10,10,10);
	background: linear-gradient(to bottom, rgb(15,15,15) 0%, rgb(10,10,10) 8%);

}

#contact-content-container {
	position: relative;
	width: calc(25vw + 280px);
	top: 0;
	left: 50%;
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	text-align: center;
}

#contact-intro {
	padding-bottom: 0px;
}

#contact-social-media-links {
    display: block;
    margin: 50px auto 50px auto;
    width: 100%;
    min-width: 280px;
    padding: 11px 0 11px 0;
}

#contact-social-media-list {
    display: flex;
    flex-wrap: wrap;
}

.contact-social-media-button {
    text-align: center;
    flex: 1;
    user-select: none;
    height: 50px;
}

.contact-social-media-icon {
    height: 50px;
    opacity: 90%;
}

.contact-social-media-icon:hover {
    opacity: 100%;
}

#resume-paragraph {
	padding-top: 200px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 90%;
	margin: 0 5% 0 5%;
	height: 24px;
	border-top: 1px solid rgb(25,25,25);
}

#copyright {
	color: #b5b3b3;
	color: rgb(140,140,140);
	text-align: center;
	font-size: 12px;
	padding-top: 6px;
}